{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "plugins": [],
  "rules": {
    "no-console": "off",
    "node/no-unpublished-require": "off"
  }
}
